<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>OPA Shield Program editor</string>
	<key>CFBundleSignature</key>
	<string>Fred's Lab</string>
	<key>CFBundleExecutable</key>
	<string>OPAEditor</string>
	<key>CFBundleIdentifier</key>
	<string>com.fredslab.OPAEditor</string>
</dict>
</plist>
